@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TwitStat</h1>
    <p class="lead">TwitStat is an application desinged to demonstrate the capabilites of the ASP.NET MVC Framework.  It consumes the 
    <a href="https://dev.twitter.com/docs/api/1.1/get/statuses/sample">Twitter sample stream</a> and reports statistics about the tweets it comsumes.</p>
    
</div>
